h1{
  color: DarkCyan ;
    
}

h2{
    color: DarkSlateGray ;
}

h3{
    color: DarkSlateGray ;
}

.navbar{
background-color: #000;
border:none;
background-image: linear-gradient(#000,#000 60%,#000);
background-repeat: no-repeat;
border-bottom: none;

}

.nav_head{
    font-size: 2em;
    padding-left: 23px;
    font-variant: small-caps;
    color:LightSeaGreen;
    font-weight: bold;
    padding-top: 0;
}

.navbar-default .navbar-nav>.active>a,.navbar-default,.navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    background-color: LightSeaGreen;
}
.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus{
    background-color: LightSeaGreen;
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
    background-color: LightSeaGreen;
}

.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus{
    background-color: LightSeaGreen;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus{
    background-color: LightSeaGreen;
}




